:root {
  --color-red: #b92f1e;
  --color-red-light: #bb4131;
  --color-orange: #fea110;
  --color-orange-light: #f7ab2f;
  --color-navy: #1d205f;
  --color-navy-light: #2a2f7f;
  --color-black: #212529;
  --color-grey: #797979;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: white;
  font-family:
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
}

a {
  text-decoration: none !important;
}
