@import './base.css';
@import './layout.css';
@import './button.css';
@import './table.css';
@import './modal.css';
@import './textField.css';
@import './card.css';

.app-container {
  padding: 20px;
  width: 100%;
}

.title-page {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 20px;
  color: var(--color-red);
}
