.modal-overlay {
position: fixed;
top: 0;
left: 0;
width: 100%;
min-height: 100vh;
height: 100%;
background-color: rgba(0, 0, 0, 0.164);
display: flex;
justify-content: center;
align-items: center;
z-index: 1000;
}

.modal-body {
max-width: 450px;
width: 100%;
padding: 20px;
background-color: white;
border-radius: 5px;
border: 1px solid #e8e8e8;
box-shadow: 0 0 5px 200vh rgba(0, 0, 0, 0.164);
z-index: 1001;
}


.modal-footer {
display: flex;
justify-content: center;
flex-direction: row;
gap: 12px;
margin-top: 16px;
}

.modal-footer-button {
min-height: 38px;
}